* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
    margin: 1rem;
}

/* HEADER BEGIN */
.header {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__img {
    width: 25rem;
    height: 10rem;
    object-fit: cover;
}

.header__profile {
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: .5rem;
    padding: 1rem;
}

.header__profile-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 .5rem 0
}

.header__profile-main p {
    margin-top: .5rem;
    font-size: 1.3rem;
    color: #575756;
    font-weight: 100;
}

.header__profile-list {
    display: none;
    list-style: none;
    align-self: center;
    text-align: center;
}

.header__profile:hover ul,
.header__profile-list:hover {
    display: block;
}

.header__profile-list button {
    background-color: #00727d;
    color: white;
    border: none;
    border-radius: 1rem;
    outline: none;
    width: 6rem;
    height: 1.8rem;
    margin: .2rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.header__profile-list button:hover {
    background-color: #bed600;
}

.header__menu {
    border: none;
    align-self: flex-end;
    width: 100%;
}

.header__menu-main {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: .2rem;
}

.menu-main__item,
.dropbtn {
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #575756;
    outline: none;
    background-color: inherit;
    margin: 0;
    padding: 1rem;
}

.dropbtn {
    cursor: pointer;
}

.menu-main__item .dropbtn:hover {
    background-color: #bed600;
    color: #00727d;
    cursor: default;
    outline: none;
    border: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #575756;
    padding: .5rem 1rem .5rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

a:hover,
.dropdown:hover .dropbtn {
    color: #00727d;
    background-color: #bed600;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* HEADER END*/

/* MAIN BEGIN */

.carousel {
    /* border: red solid .1rem; */
    overflow: scroll;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    position: relative;
}

.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 250px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.carousel-item:hover~.carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.carousel-item__details--img {
    width: 20px;
}

.carousel-item:hover .carousel-item__details {
    opacity: 1;
}

.carousel-item__details--title {
    color: white;
    margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}

/* MAIN END */

/* FOOTER BEGIN */
.footer {
    border: none;
    background-color: #00727d;
}

.footer__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.footer__list {
    color: white;
    font-size: 1.2rem;
}

.footer__list-item:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list-item--logo {
    background-color: white;
    object-fit: cover;
    width: 10rem;
    margin: .5rem;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.social-media li {
    margin: 1rem;
    padding: .2rem;
}

.fab {
    font-size: 2rem;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    transition: 0.4s;
    cursor: pointer;
}

.social-media a:hover {
    background-color: #00727d;
}

.fa-facebook:hover,
.fa-facebook:focus {
    color: #1877f2;
    transform: scale(1.1);
}

.fa-instagram:hover,
.fa-instagram:focus {
    color: #bd22a2;
    transform: scale(1.1);
}

.fa-twitter:hover,
.fa-twitter:focus {
    color: #1da1f2;
    transform: scale(1.1);
}

.social-media,
.social-media a {
    text-align: center;
    color: white;
}

/* FOOTER END */